<?xml version="1.0" encoding="UTF-8"?>    
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"    
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="com.boot.dao.UserInfoDao">
<!--设置domain类和数据库中表的字段一一对应，注意数据库字段和domain类中的字段名称不致，此处一定要！-->  
    <resultMap id="BaseResultMap" type="com.boot.domain.UserInfo">
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="username" property="username" />
        <result column="password" property="password"  />
    </resultMap>

    <!-- 查询单条记录 -->
    <select id="selectUserById" parameterType="int" resultMap="BaseResultMap">
        SELECT * FROM t_user WHERE id = #{id}
    </select>

    <select id="findByUsername" parameterType="string" resultMap="BaseResultMap">
        SELECT t_user.* FROM t_user WHERE username = #{username} 
    </select>
</mapper> 